---

---
<section>
    <h1>Background</h1>
    <p>
        These years, Europe including Denmark is facing an enormous influx of refugees coming into the countries. These people are seeking a new and safe haven. The political debate in the European countries about how to deal with all these people are peaking, and the immigration systems in the european countries are not capable of dealing with the large amount of refugees.
        
        In the process of getting asylum, the asylum seeker is going through the same processes in every institution within the system because of closed data systems and no corporation or knowledge sharing between actors.
        
        We therefore decided to work around the following problem statement:
        How can a service system empower refugees to be able to impact the integration system of refugee allocation focusing on early-into-job strategies?</p>
</section>