---

---
<section id="main-content">
    <h1>Title</h1>
    <ul>
      <li>
        <strong>client:</strong> the client is a personal recommendation
        from university. He wants to create an illustration for his kid's
        assignment
      </li><br />
      <li>
        <strong>approach:</strong> I had to create this assignment from
        scratch since there is no preset available. The way I do this
        is by looking up the previous projects I have done
      </li><br />
      <li>
        <strong>Objective:</strong> Design an illustration for client's
        assignment
      </li><br />
      <li>
        <strong>Responsibilities:</strong> Research design, pilot program
      </li><br />
    </ul>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas,
      ratione cumque numquam voluptatibus officiis, modi tempora
      adipisci reiciendis deleniti doloribus ut aperiam enim
      repellat a quae reprehenderit nesciunt iste! Nostrum. Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Quas,
      ratione cumque numquam voluptatibus officiis, modi tempora
      adipisci reiciendis deleniti doloribus ut aperiam enim
      repellat a quae reprehenderit nesciunt iste! Nostrum. Lorem
      ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </section>