---

---
<section>
  <h1>Result</h1>
  <p>
    In general the test participants were positive towards the service.
    In various cases they stated that they would like to try using the service
    in their everyday life. The master thesis project and research were well
    recieved by the university and the collaboration partner who also saw a huge
    demand for this kind of system and the possibilities that it would provide
    to the danish healthcare system.
  </p>
</section>
