---

---
<section id="sub-content">
    <h1>Visual Progress</h1>
    <div class="visual-illustration">
      <figure>
        <h2>Wireframe</h2>
        <img
          src="https://images.pexels.com/photos/196645/pexels-photo-196645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="wireframe"
          width="350px"
        />
        <figcaption>
          Low fidelity wireframe to explore the platform concept.
        </figcaption>
      </figure>

      <figure>
        <h2>Sketch</h2>
        <img
          src="https://images.pexels.com/photos/196645/pexels-photo-196645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="wireframe"
          width="350px"
        />
        <figcaption>
          Low fidelity wireframe to explore the platform concept.
        </figcaption>
      </figure>

      <figure>
        <h2>Onboarding</h2>
        <img
          src="https://images.pexels.com/photos/196645/pexels-photo-196645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="wireframe"
          width="350px"
        />
        <figcaption>
          Low fidelity wireframe to explore the platform concept.
        </figcaption>
      </figure>

      <figure>
        <h2>Style Guide</h2>
        <img
          src="https://images.pexels.com/photos/196645/pexels-photo-196645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="wireframe"
          width="350px"
        />
        <figcaption>
          Low fidelity wireframe to explore the platform concept.
        </figcaption>
      </figure>

      <figure>
        <h2>High-Fidelity Mockup</h2>
        <img
          src="https://images.pexels.com/photos/196645/pexels-photo-196645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="wireframe"
          width="350px"
        />
        <figcaption>
          Low fidelity wireframe to explore the platform concept.
        </figcaption>
      </figure>

      <figure>
        <h2>Open Meeting</h2>
        <img
          src="https://images.pexels.com/photos/196645/pexels-photo-196645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="wireframe"
          width="350px"
        />
        <figcaption>
          Low fidelity wireframe to explore the platform concept.
        </figcaption>
      </figure>
    </div>
  </section>