:root {
  --mainColor: #E3E1D9;
  --secondaryColor: #222831;
  --accentColor: #C7C8CC;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Raleway", sans-serif;
  }

  body {
    background-color: var(--mainColor);
    color: var(--secondaryColor);
  }
  
  ul a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  
  nav {
    width: 100%;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
    font-size: 19px;
    font-weight: 600;
  }

  nav ul li {
    border: 1px solid var(--accentColor);
    box-shadow: 7px 7px var(--accentColor);
    border-radius: 7px;
    padding: 10px;
  }
  
  #container {
    display: flex;
    align-items: center;
    margin: 4em 0;
  }
  
  .hero-wrapper {
    padding: 0 5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .text-wrapper > p {
    font-size: 18px;
  }
  
  .image-wrapper img {
    display: block;
  }
  
  .skills {
    margin-top: 1em;
    width: max-content;
    gap: 25px;
    display: flex;
  }
  
  .skills img {
    width: 64px;
  }
  
  #projects-section h1 {
    text-align: center;
  }
  
  #projects {
    display: grid;
    justify-content: center;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(500px, 500px));
  }
  
  #projects article {
    margin: 2.5em 0;
  }
  
  .image-projects {
    border-radius: 15px;
    width: 400px;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  }
  
  .image-projects .overlay {
    opacity: 0;
    width: 400px;
    height: 500px;
    background: rgb(0, 0, 0);
    transition: 0.8s;
    font-size: 36px;
    color: #fff;
  }
  
  .image-projects .overlay {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .overlay a {
    font-size: 20px;
    color: inherit;
  }
  
  .image-projects:hover .overlay {
    border-radius: 15px;
    opacity: 0.8;
  }
  
  article > #image-1 {
    background-image: url("https://images.pexels.com/photos/137077/pexels-photo-137077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }
  
  article > #image-2 {
    background-image: url("https://images.pexels.com/photos/1192671/pexels-photo-1192671.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }
  
  article > #image-3 {
    background-image: url("https://images.pexels.com/photos/1762851/pexels-photo-1762851.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }
  
  article > #image-4 {
    background-image: url("https://images.pexels.com/photos/1194420/pexels-photo-1194420.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }
  
  article > #image-5 {
    background-image: url("https://images.pexels.com/photos/3023211/pexels-photo-3023211.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }
  
  article > #image-6 {
    background-image: url("https://images.pexels.com/photos/1001990/pexels-photo-1001990.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }
  
  article > #image-7 {
    background-image: url("https://images.pexels.com/photos/696644/pexels-photo-696644.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }
  
  article > #image-8 {
    background-image: url("https://images.pexels.com/photos/1121097/pexels-photo-1121097.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }
  
  .cta {
    font-size: 1.8em;
    text-align: center;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .cta .button {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    padding: 15px 20px;
  }
  
  .cta .button:hover {
    background-color: var(--accentColor);
  }
  
  .cta a {
    text-decoration: none;
    color: inherit;
  }
  
  .button img {
    width: 20px;
  }
  
  footer {
    margin-top: 2em;
    /* border: 2px solid; */
  }
  
  footer > p {
    text-align: center;
    padding: 10px;
  }
  
  footer .social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 20px;
  }
  
  .social-media img {
    width: 32px;
  }
  
  @media (min-width: 320px) and (max-width: 640px) {
    nav ul {
      font-size: 16px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .hero-wrapper {
      padding: 0 0.8rem;
    }
  
    .text-wrapper {
      text-align: center;
      text-align: left;
    }
  
    .text-wrapper h1 {
      font-size: 58px !important;
    }
  
    .text-wrapper p {
      font-size: 17px;
    }
  
    .image-wrapper {
      display: none;
    }
  
    #projects {
      grid-template-columns: repeat(auto-fit, minmax(470px, 470px));
    }
  
    #projects-section .image-projects {
      width: 330px;
      height: 430px;
    }
  
    #projects-section .image-projects .overlay {
      width: 330px;
      height: 430px;
    }
  
    .skills img {
      width: 30px;
    }
  
    .cta {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 18px;
      flex-direction: column;
      font-size: 18px;
    }
  
    .cta a {
      text-decoration: none;
      color: inherit;
    }
  
    .social-media img {
      width: 16px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    nav ul {
      font-size: 18px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .hero-wrapper {
      padding: 0 1rem;
    }
  
    .text-wrapper {
      width: 60%;
      text-align: center;
      text-align: left;
    }
  
    .text-wrapper h1 {
      font-size: 60px !important;
    }
  
    .text-wrapper p {
      font-size: 17px;
    }
  
    .image-wrapper img {
      width: 240px;
    }
  
    #projects {
      grid-template-columns: repeat(auto-fit, minmax(410px, 410px));
    }
  
    #projects-section .image-projects {
      width: 360px;
      height: 460px;
    }
  
    #projects-section .image-projects .overlay {
      width: 360px;
      height: 460px;
    }
  
    .skills img {
      width: 33px;
    }
  
    .cta {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      flex-direction: column;
      font-size: 22px;
    }
  
    .cta a {
      text-decoration: none;
      color: inherit;
    }
  
    .social-media img {
      width: 19px;
    }
  }
  
  @media (min-width: 1280px) and (max-width: 1536px) {
    nav ul {
      font-size: 19px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .hero-wrapper {
      padding: 0 1.3rem;
    }
  
    .text-wrapper {
      width: 60%;
      text-align: center;
      text-align: left;
    }
  
    .text-wrapper h1 {
      font-size: 55px !important;
    }
  
    .text-wrapper p {
      font-size: 19px;
    }
  
    .image-wrapper img {
      width: 260px;
    }
  
    #projects {
      grid-template-columns: repeat(auto-fit, minmax(500px, 500px));
    }
  
    #projects-section .image-projects {
      width: 380px;
      height: 480px;
    }
  
    #projects-section .image-projects .overlay {
      width: 380px;
      height: 480px;
    }
  
    .skills img {
      width: 34px;
    }
  
    .cta {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      /* flex-direction: column; */
      font-size: 1.6em;
    }
  
    .cta a {
      text-decoration: none;
      color: inherit;
    }
  
    .social-media img {
      width: 20px;
    }
  }
  