---
export const prerender = true;
import HomeLayout from "../layouts/homeLayout.astro";
const homeTitle = "My Portfolio";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <HomeLayout homeTitle={homeTitle}></HomeLayout>
    <script>
      import '../scripts/stickynav';
      import '../scripts/typewritter';
    </script>
  </body>
</html>
