---
import ProjectLayout from "../layouts/projectLayout.astro";

---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <ProjectLayout></ProjectLayout>
  </body>
</html>