---

---
<article>
    <div class="image-projects" id="image-1" title="portfolio-1">
        <div class="overlay">Eska
            <a href="/projects/eska"><p>See More</p></a>
        </div>
    </div>
</article>
<article>
    <div class="image-projects" id="image-2" title="portfolio-2">
        <div class="overlay">Equilibrium
            <a href="/projects/equilibrium"><p>See More</p></a>
        </div>
    </div>
</article>
<article>
    <div class="image-projects" id="image-3" title="portfolio-3">
        <div class="overlay">Stairs of Silhouette
            <a href="/projects/stairs-of-silhouette"><p>See More</p></a>
        </div>
    </div>
</article>
<article>
    <div class="image-projects" id="image-4" title="portfolio-4">
        <div class="overlay">Cashew
            <a href="/projects/cashew"><p>See More</p></a>
        </div>
    </div>
</article>
<article>
    <div class="image-projects" id="image-5" title="portfolio-5">
        <div class="overlay">Keroncong
            <a href="/projects/keroncong"><p>See More</p></a>
        </div>
    </div>
</article>
<article>
    <div class="image-projects" id="image-6" title="portfolio-6">
        <div class="overlay">Pokchoy
            <a href="/projects/pokchoy"><p>See More</p></a>
        </div>
    </div>
</article>
<!-- <article>
    <div class="image-projects" id="image-7" title="portfolio-7">
        <div class="overlay">Drops of Life
            <a href="/individualProject/"><p>See More</p></a>
        </div>
    </div>
</article>
<article>
    <div class="image-projects" id="image-8" title="portfolio-8">
        <div class="overlay">Circular Magento
            <a href="/individualProject/"><p>See More</p></a>
        </div>
    </div>
</article> -->