---

---
<div class="cta-wrapper">
    <div class="cta">
        <h1>Get in touch</h1>
        <p>Interested in working together? Feel free to reach me out!</p>
        <a href="#"><div class="button">
           <img src="/src/assets/icons/gmail-icon.svg" alt="Email">
           <p>Text me</p>
        </div></a>
    </div>
</div>