---

---
<div class="social-media">
    <a href="#"><img src="/src/assets/icons/instagram-icon.svg" alt="Instagram"></a>
    <a href="#"><img src="/src/assets/icons/twitter-icon.svg" alt="Twitter"></a>
    <a href="#"><img src="/src/assets/icons/linkedin-icon.svg" alt="LinkedIn"></a>
</div>