---

---
<div class="social-media">
    <a href="#"><img src="/assets/instagram-icon.svg" alt="Instagram"></a>
    <a href="#"><img src="/assets/twitter-icon.svg" alt="Twitter"></a>
    <a href="#"><img src="/assets/linkedin-icon.svg" alt="LinkedIn"></a>
</div>